# Plantilla para la creación del archivo .env
# No cambiar el nombre de este archivo, crear uno nuevo llamado .env

# --- CONFIGURACIÓN DEL PROYECTO ---
DEBUG=True
SECRET_KEY=cambiar_por_una_llave_muy_larga_y_compleja
ALLOWED_HOSTS=127.0.0.1,localhost,IP_DEL_SERVIDOR

# --- CONEXIÓN A BASE DE DATOS (PostgreSQL) ---
DB_NAME=nombre_de_bd
DB_USER=postgres
DB_PASSWORD=contraseña_de_postgres
DB_HOST=localhost
DB_PORT=5432

# --- SEGURIDAD DE RED (CORS) ---
# Aquí se pone la IP o Dominio desde donde React hará las peticiones.
# Sin espacios después de la coma
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://IP_DEL_SERVIDOR

# --- INTERRUPTORES DE SEGURIDAD (SSL/COOKIES) ---
# MANTENER EN 'False' mientras se usa IP y HTTP. 
# Cambiar a 'True' solo cuando se tenga Dominio + HTTPS.
USE_HTTPS=False