# Plantilla para la creación del archivo .env
# No cambiar el nombre de este archivo, crear uno nuevo en la raíz llamado .env


# --- CONFIGURACIÓN DEL PROYECTO ---
DEBUG=True
SECRET_KEY=cambiar_por_una_llave_muy_larga_y_compleja
ALLOWED_HOSTS=127.0.0.1,localhost,IP_DEL_SERVIDOR


# ------------ CONEXIÓN A BASES DE DATOS (Multi-Tenant) -------------------

# --- CONEXIÓN A BASE DE DATOS ADMIN (DEFAULT) ---
# Nombre sugerido para la base de datos: erp_admin_db
DB_NAME_DEFAULT=erp_admin_db
DB_USER=postgres
DB_PASSWORD=contraseña_de_postgres
DB_HOST=localhost
DB_PORT=5432

# --- CONEXIÓN A BASE DE DATOS INQUILINOS (TENANT) ---
# Nombre sugerido para la base de datos: erp_tenant_db
DB_NAME_TENANT=erp_tenant_db
DB_USER_TENANT=postgres
DB_PASSWORD_TENANT=contraseña_de_postgres
DB_HOST_TENANT=localhost
DB_PORT_TENANT=5432

# --- SEGURIDAD DE RED (CORS) ---
# Aquí se pone la IP o Dominio desde donde React hará las peticiones.
# Sin espacios después de la coma
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://IP_DEL_SERVIDOR

# --- INTERRUPTORES DE SEGURIDAD (SSL/COOKIES) ---
# MANTENER EN 'False' mientras se usa IP y HTTP. 
# Cambiar a 'True' solo cuando se tenga Dominio + HTTPS.
USE_HTTPS=False